<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    <application 
        android:label="很酷TV" 
        android:icon="@drawable/icon"
        android:logo="@drawable/icon"
        android:theme="@style/Theme.FeelCoolTV" 
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true">

        <receiver android:name=".BootReceiver" android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <activity 
            android:name=".MainActivity" 
            android:launchMode="singleTask" 
            android:clearTaskOnLaunch="true" 
            android:stateNotNeeded="true" 
            android:excludeFromRecents="true" 
            android:icon="@drawable/icon" 
            android:logo="@drawable/icon" 
            android:exported="true" 
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden|navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
           </intent-filter>
        </activity>
        
        <!-- 注意：ExoPlayerActivity 已经被彻底淘汰删除，以实现无缝转场 -->
    </application>
</manifest>
